[id^=part] {
  height: 3rem;
  width: 3rem;
  text-align: center;
  margin: 0.7rem;
  padding: 6px !important;
}

[id^=part]::-webkit-inner-spin-button,
[id^=part]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
