<div nz-row nzJustify="center">
  <h3>Lấy lại mật khẩu</h3>
</div>
<form nz-form nzLayout="vertical" [formGroup]="forgotForm">
  <ng-container *ngIf="progress === 'init'">
    <nz-form-item>
      <nz-form-label>Email</nz-form-label>
      <nz-form-control>
        <input type="text" nz-input formControlName="email">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Captcha</nz-form-label>
      <nz-form-control>
        <div nz-row nzGutter="10" nzAlign="middle" nzJustify="start">
          <div nz-col nzSpan="8">
            <input type="text" nz-input formControlName="captcha">
          </div>
          <div nz-col nzSpan="8">
            <img src="{{ imgCaptcha }}" alt="">
          </div>
          <div nz-col nzSpan="2">
            <span nz-icon nzType="sync" nzTheme="outline" (click)="refreshCaptcha()"></span>
          </div>
        </div>
      </nz-form-control>
    </nz-form-item>
    <div nz-row>
      <button nz-button [routerLink]="'auth/login'">Quay lại đăng nhập</button>
      <button nz-button (click)="confirmForget()">Quên mật khẩu</button>
    </div>
  </ng-container>
</form>

<form nz-form nzLayout="vertical" [formGroup]="otpForm">
  <ng-container *ngIf="progress == 'verifying'">
    <nz-form-item>
      <nz-form-label>Nhập OTP gửi về mail</nz-form-label>
      <nz-form-control>
        <div>
          <input formControlName="input1" (keyup)="onKeyUp(1, $event)" id="part1"
                 (input)="onInputNumber($event, 'input1')" [maxlength]="1" [min]="0" vts-input [(ngModel)]="otpCode[0]"
                 (paste)="onPaste($event)">
          <input formControlName="input2" (keyup)="onKeyUp(2, $event)" id="part2"
                 (input)="onInputNumber($event, 'input2')" [maxlength]="1" [min]="0" vts-input [(ngModel)]="otpCode[1]"
                 (paste)="onPaste($event)">
          <input formControlName="input3" (keyup)="onKeyUp(3, $event)" id="part3"
                 (input)="onInputNumber($event, 'input3')" [maxlength]="1" [min]="0" vts-input [(ngModel)]="otpCode[2]"
                 (paste)="onPaste($event)">
          <input formControlName="input4" (keyup)="onKeyUp(4, $event)" id="part4"
                 (input)="onInputNumber($event, 'input4')" [maxlength]="1" [min]="0" vts-input [(ngModel)]="otpCode[3]"
                 (paste)="onPaste($event)">
          <input formControlName="input5" (keyup)="onKeyUp(5, $event)" id="part5"
                 (input)="onInputNumber($event, 'input5')" [maxlength]="1" [min]="0" vts-input [(ngModel)]="otpCode[4]"
                 (paste)="onPaste($event)">
          <input formControlName="input6" (keyup)="onKeyUp(6, $event)" id="part6"
                 (input)="onInputNumber($event, 'input6')" [maxlength]="1" [min]="0" vts-input [(ngModel)]="otpCode[5]"
                 (paste)="onPaste($event)">
        </div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <div nz-row nzJustify="center">
          <div nz-col nzSpan="12">
            <button nz-button [routerLink]="'auth/login'">Quay lại đăng nhập</button>
            <button nz-button (click)="verifyOtp()">Xác nhận</button>
          </div>
        </div>
      </nz-form-control>
    </nz-form-item>
  </ng-container>
</form>

<form nz-form nzLayout="vertical" [formGroup]="changePassForm">
  <ng-container *ngIf="progress === 'changingPass'">
    <h3>Tạo mật khẩu mới</h3>
    <nz-form-item>
      <nz-form-label>Mật khẩu mới</nz-form-label>
      <nz-form-control>
        <input type="password" nz-input formControlName="newPassword">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Xác nhận mật khẩu</nz-form-label>
      <nz-form-control>
        <input type="password" nz-input formControlName="confirmPasswordAgain">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <div nz-row nzJustify="center">
          <div nz-col nzSpan="12">
            <button nz-button [routerLink]="'auth/login'">Quay lại đăng nhập</button>
            <button nz-button (click)="changePassword()">Xác nhận</button>
          </div>
        </div>
      </nz-form-control>
    </nz-form-item>
  </ng-container>
  <ng-container *ngIf="progress === 'done'">
    <p>Mật khẩu đã được thay đổi thành công</p>
    <nz-form-item>
      <nz-form-control>
        <div nz-row nzJustify="center">
          <button nz-button [routerLink]="'auth/login'">Đăng nhập</button>
        </div>
      </nz-form-control>
    </nz-form-item>
  </ng-container>
</form>
