<form nz-form nzLayout="vertical" [formGroup]="formGroup">
  <div nz-row nzGutter="10">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired>Tên hành động</nz-form-label>
        <nz-form-control>
          <input type="text" nz-input formControlName="name">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired>Mã hành động</nz-form-label>
        <nz-form-control>
          <input type="text" nz-input formControlName="code">
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label>Mô tả</nz-form-label>
        <nz-form-control>
          <textarea nz-input formControlName="description" rows="4"></textarea>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-label>Trạng thái</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="status">
            <nz-option [nzValue]="1" nzLabel="Hoạt động"></nz-option>
            <nz-option [nzValue]="0" nzLabel="Bị khóa"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
<div nz-row nzJustify="end" nzGutter="10" class="footer-custom-modal">
  <button nz-button nzType="default" (click)="closePopup()">Hủy</button>
  <button nz-button nzType="primary" (click)="save()" *ngIf="this.mode == 'create'">Thêm mới</button>
  <button nz-button nzType="primary" (click)="save()" *ngIf="this.mode == 'edit'">Cập nhật</button>
</div>
