<form nz-form nzLayout="vertical" [formGroup]="formGroup">
  <div nz-row nzGutter="10">
    <div nz-col nzSpan="24">
      <div>Avatar</div>
      <div draggable="true" class="image-ipload">
        <div style="width: 100px; position: relative;">
          <img width="100px" [src]="imgAsset ? imgAsset.src : '../../../assets/template/images/unknown-user.png'"  style="object-fit: contain;"/>
          <span *ngIf="imgAsset" (click)="delImg(imgAsset.id)" class="delete"><span><i
            nz-icon nzType="delete"></i></span></span>
        </div>
      </div>
      <div class="d-flex justify-content-center" draggable="true" *ngIf="!imgAsset" >
        <input (change)="imgChange($event)" accept=".png, .jpg, .jpeg" id="filePdf"
               name="filePdf"
               type="file" multiple="false" hidden />
        <label class="input-label" for="filePdf">
          <i nz-icon nzType="upload"></i>
          <span class="attach-text" style="color: #ad0025 !important;">Chọn tệp</span>
        </label>
      </div>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired>Tên đăng nhập</nz-form-label>
        <nz-form-control>
          <input type="text" nz-input formControlName="userName">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired>Họ và tên</nz-form-label>
        <nz-form-control>
          <input type="text" nz-input formControlName="fullName">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired>Email</nz-form-label>
        <nz-form-control>
          <input type="text" nz-input formControlName="email">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>Số điện thoại</nz-form-label>
        <nz-form-control>
          <input type="text" nz-input formControlName="cellphone">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="8">
      <nz-radio-group formControlName="gender" nzName="gender">
        <label nz-radio [nzValue]="1">Nam</label>
        <label nz-radio [nzValue]="0">Nữ</label>
      </nz-radio-group>
    </div>
    <div nz-col nzSpan="8">
      <nz-date-picker [nzFormat]="'dd/MM/YYYY'" formControlName="dateOfBirth" nzPlaceHolder=""></nz-date-picker>
    </div>
    <div nz-col nzSpan="8">
      <nz-form-item>
        <nz-form-label>Trạng thái</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="status">
            <nz-option [nzValue]="1" nzLabel="Hoạt động"></nz-option>
            <nz-option [nzValue]="0" nzLabel="Khóa"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
<div nz-row nzJustify="end" nzGutter="10" class="footer-custom-modal">
  <button nz-button nzType="default" (click)="closePopup()">Hủy</button>
  <button nz-button nzType="primary" (click)="save()" *ngIf="this.mode == 'create'">Thêm mới</button>
  <button nz-button nzType="primary" (click)="save()" *ngIf="this.mode == 'edit'">Cập nhật</button>
</div>
